<!DOCTYPE html>
<html>
<head>
    <style>
        /* Styling for the blue top bar */
        .top-bar {
            background-color: blue;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .fit-image {
            max-width: 100%; /* Set the maximum width of the image to the container's width */
            height: auto;   /* Maintain the image's aspect ratio */
            display: block; /* Ensures proper spacing and alignment */
            margin: 0 auto; /* Center the image horizontally within its container */
        }

        .chart-area img.blog-image {
            max-width: 100%; /* Image will scale down to fit within the container */
            max-height: 100%;
        }

        #loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            }

            .loader {
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
            }

            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }

            .options-row {
                display: flex;
                justify-content: space-between; /* Adjust as needed for spacing */
            }

            .cell-line-options,

            .comp-options {
                flex: 1;
                margin-right: 10px; /* Adjust for spacing between the fields */
            }

            .progress-bar {
                width: 100%;
                background-color: #262323;
                height: 20px;
                border-radius: 5px;
                margin-bottom: 10px;
            }

            .progress {
                height: 100%;
                background-color: #80ef0a;
                border-radius: 5px;
            }

            .status {
                background-color: #ffc107; /* Yellow background color */
                color: #333; /* Dark text color */
                padding: 10px 20px; /* Add padding for better spacing */
                border-radius: 5px; /* Rounded corners */
                text-align: center; /* Center-align text */
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
                font-size: 18px; /* Adjust the font size */
                }

                .status p {
                margin: 0; /* Remove default paragraph margin */
                }

                /* Add padding to the .content container */
                .content {
                padding: 20px; /* Adjust the padding value to your preference */
                }

                .card {
                padding: 20px; /* Adjust the padding value to your preference */
                }

            .top-bar {
                display: flex;
                align-items: center; /* Vertically center content */
                justify-content: space-between; /* Distribute content evenly across the bar */
                background-color: blue; /* Set your desired background color */
                padding: 10px; /* Add padding for spacing */
                color: white; /* Set text color */
            }

            .left-button {
                margin-right: 10px; /* Add margin to the right of the left button */
            }

            .right-button {
                margin-left: 10px; /* Add margin to the left of the right button */
            }

            .center-title {
                flex-grow: 1; /* Allow the title to expand and take up available space */
                text-align: center; /* Center the title text */
                font-weight: bold; /* Optional: Make the title bold */
            }


             


        
    </style>
    <!-- Other head content -->
    <script>
        function myFunction() {
            // Your code here
            console.log("Button clicked!");
            // Call any Django views or perform any desired actions
        }
        
        // Attach the function to the button's click event
        document.getElementById("run").addEventListener("click", myFunction);
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script>
        // Function to show the loading overlay
        function showLoading() {
          document.getElementById('loading-overlay').style.display = 'block';
        }
      
        // Function to hide the loading overlay
        function hideLoading() {
          document.getElementById('loading-overlay').style.display = 'none';
        }
      
        // Example usage:
        // Call showLoading() before performing a time-consuming operation (e.g., form submission)
        // Call hideLoading() when the operation is complete to hide the loading overlay.
      </script>
      
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="path_to_bootstrap_js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.css">
   

</head>
<body>
    <!-- Blue top bar -->
    <div class="top-bar">
        <div class="left-button">
            <a href="{% url 'home_page' %}" class="btn btn-fill btn-warning">
                <i class="fas fa-home"></i> Home
            </a>
        </div>
        <div class="center-title">
            BarrosoLab ==> OTTCP Classification
        </div>
        <div class="right-button">
         
            <a href="{% url 'upload_files' %}" class="btn btn-fill btn-warning">
                Create New Analysis
            </a>
        </div>
    </div>

    

    <div class="content">
     

        <div class="card">
            <div class="card-header">    
                <h1 class="card-category">OutComes and Graphs</h1>
            </div>
        </div>  
        
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Total Cells</h5>
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>{{analysis.cellnum}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Total Objects</h5>
                        
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>  {{kfda.number_of_cells}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Analysis Status</h5>
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> {{analysis.stage}}!</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">kFDA Accuracy</h5> -->
                        <!-- <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> {{kfda.accuracy}}</h3>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="card">
            <div class="card-header">
              <h5 class="title">Random Forest Graphs and Details</h5>
            </div>
            <div class="card-body">
           
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">The Quick Stats</h5>
                                
                            </div>
                            <div class="card-body">

                                <div class="chart-area">
                                    
                                    <!-- <h3 class="card-title">DPG</h3> -->
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Number of Cells : {{analysis.cellnum}}</h6>
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Number of Objects : {{kfda.number_of_cells}}</h6>
                                    <!-- <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Features : ["min_mmdist","max_mmdist","mean_mmdist","median_mmdist","std_mmdist","sum_mmdist","skewness_mmdist","kurtosis_mmdist","sum/volume","sum/position",]</h6> -->
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>DPG accuracy Random Forest: {{randomForest.dpg_accuracy}}</h6>
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>OPG accuracy Random Forest: {{randomForest.opg_accuracy}}</h6>
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>NPG accuracy Random Forest: {{randomForest.npg_accuracy}}</h6>
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>DPG  and NPG accuracy Random Forest: {{randomForest.dpg_npg_accuracy}}</h6>
                                  

                                    <!-- <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>DPG accuracy kfda : {{kfda.dpg_accuracy}}</h6>
                                -->
                                    <!-- <img src="data:image/png;base64,{{ randomForest.confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">    -->
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">The Quick Stats</h5>
                                
                            </div>
                            <div class="card-body">

                                <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Number of Cells : {{analysis.cellnum}}</h6>
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Number of Objects : {{kfda.number_of_cells}}</h6>
                                    <!-- <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Features : ["min_mmdist","max_mmdist","mean_mmdist","median_mmdist","std_mmdist","sum_mmdist","skewness_mmdist","kurtosis_mmdist","sum/volume","sum/position",]</h6> -->
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>DPG and OPG accuracy Random Forest: {{randomForest.dpg_opg_accuracy}}</h6>
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>OPG AND NPG accuracy Random Forest: {{randomForest.opg_accuracy}}</h6>
                                    <h6 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>All Features accuracy Random Forest: {{randomForest.all_params_confusion_matrix_graph}}</h6>
                                  
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-body">
           
                <div class="row">
                  
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Confusion Matrix: DPG</h5>
                                <!-- <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>{{randomForest.accuracy}}</h3> -->
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.dpg_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Feature Importance: DPG</h5>
                                <!-- <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>{{randomForest.feature_importance_curve_graph}}</h3> -->
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.dpg_feature_importance_curve_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                        </div>
                    </div>

              

                 
                   
                </div>
            </div>


            <div class="card-body">
           
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Confusion Matrix: OPG</h5>
                                <!-- <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>{{randomForest.accuracy}}</h3> -->
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.opg_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                        </div>
                    </div>
                  
                  


                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Feature Importance: OPG</h5>
                                <!-- <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>{{randomForest.feature_importance_curve_graph}}</h3> -->
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.npg_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            



            <div class="card-body">
           
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Confusion Matrix Curves: NPG</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    
                                    <img src="data:image/png;base64,{{ randomForest.npg_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                   
                                   
                              
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                  
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Feature Importance: NPG</h5>
                                <!-- <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>{{randomForest.feature_importance_curve_graph}}</h3> -->
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.npg_feature_importance_curve_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                        </div>
                    </div>

                  
                </div>
            </div>

       
            <div class="card-body">
           
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Confusion Matrix: DPG and NPG</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                          
                                    <img src="data:image/png;base64,{{ randomForest.npg_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                   
                                       
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                

                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Feature Importance: DPG and NPG</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                   
                                    <img src="data:image/png;base64,{{ randomForest.npg_dpg_feature_importance_curve_graph }}" alt="Matplotlib Graph" class="blog-image">
                                   
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                  
                </div>
            </div>

            <div class="card-body">
           
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Confusion Matrix: DPG and OPG</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.dpg_opg_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

               

                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Feature Importance: DPG and OPG</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.dpg_opg_feature_importance_curve_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                  
                </div>
            </div>


             <div class="card-body">
           
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Confusion Matrix: NPG and OPG</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.npg_opg_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

               

                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Feature Importance:NPG and  OPG</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.npg_opg_feature_importance_curve_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                  
                </div>
            </div>


             <div class="card-body">
           
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Confusion Matrix: All Features</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.all_params_confusion_matrix_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

               

                    <div class="col-lg-6">
                        <div class="card card-chart">
                            <div class="card-header">
                                <h5 class="card-category">Random Forest Feature Importance: All Features</h5>
                                
                            </div>
                            <div class="card-body">
                                <div class="chart-area">

                        
                                    <img src="data:image/png;base64,{{ randomForest.all_params_feature_importance_curve_graph }}" alt="Matplotlib Graph" class="blog-image">
                                    
                                   
                                
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>

 
 

 

    <!-- Include Dropzone.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.js"></script>

    <!-- Custom JavaScript to handle folder uploads -->
    <script>
        // Attach Dropzone to the form element with the ID "my-awesome-dropzone"
        Dropzone.options.myAwesomeDropzone = {
            paramName: "folder",
            dictDefaultMessage: "Drop files here or click to upload (supports folders)",
            uploadMultiple: true,
            acceptedFiles: ".xlsx",
            init: function() {
                this.on("sending", function(file, xhr, formData) {
                    formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
                });
            }
        };
    </script>
</body>
</html>
